/**
 * @author alison benjamin
 */


body {
  position: relative;
}

.jumbotron{
	background: #000;
	color: white;
	font-family: Times!important;
	font-weight: bold!important;
}

/* font-awesome icons*/
.fa{
	color: #000;
	border:none;
}

.fa-close{
	color: #ca5529;
	position: absolute;
    right: 0;
    top: -8px;
}
.fa-close:hover,
.fa-close:active{
	background:none!important;
}

/* dropup "My Placeholders" menu*/
.btn-group, .btn-group-vertical{
	margin-top: .5em;
}

.dropdown-menu{
	width: 150%;
}
.dropdown-menu a {
    white-space:normal!important;
}
.dropdown-menu > li{
	position:relative;
}

.dropdown-menu > li > a{
	padding: 6px 12px; 
}

/*style of saved paragraphs*/
p,
.saved{
	 transition: background-color 0.5s ease;
}

.saved,
[data-paragraph]:hover{
	background: #efefef;
}

.scrollto{
	display:inline-block;
}

/* day 1 demo*/
.bookmarked{
	color: pink;
}